body{
	width: 1920px;
	margin: 0 auto;
	background: #fefefe;
	
}
.container{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}
#big-img img {
	width: 720px;
}
#big-img {
	width: 720px;
	margin: 0 auto;
}